p{
    color: blueviolet;
}

.blue{
    color: blue;
}

.bigFont{
    /* font-size: 24px; */
}

.my-table{
    width: 100%;
    border-collapse: collapse;
}

.my-table th{
    /*
        property: value; 
     */
    padding: 8px;
    background-color:#FF7777;
}

.my-table td{
    padding: 8px;
    background-color: #FFAAAA;
    text-align: center;
}

.mapel-aje{
    background-color: rgb(248, 224, 196);
}